absl-py==0.1.11
asn1crypto==0.24.0
astor==0.6.2
attrs==17.4.0
Automat==0.6.0
bleach==1.5.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
chromedriver==2.24.1
click==6.7
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
cycler==0.10.0
decorator==4.2.1
Django==2.1.1
dukpy==0.2.0
easygui==0.98.1
Flask==0.12.2
future==0.16.0
gast==0.2.0
graphviz==0.8.2
grpcio==1.10.0
h5py==2.7.1
html5lib==0.9999999
hyperlink==17.3.1
idna==2.6
image==1.5.19
imutils==0.4.5
incremental==17.5.0
itsdangerous==0.24
javascripthon==0.9
Jinja2==2.10
jupyter-echarts-pypkg==0.1.1
Keras==2.1.5
lml==0.0.2
lxml==4.1.1
macropy3==1.0.4.dev2
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
mpmath==1.0.0
networkx==2.1
numpy==1.14.1
opencv-python==3.4.0.12
parsel==1.4.0
Pillow==5.0.0
protobuf==3.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyecharts==0.5.1
pyecharts-javascripthon==0.0.5
pyecharts-jupyter-installer==0.0.3
PyGraph==0.2.1
PyMySQL==0.8.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
queuelib==1.4.2
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
Scrapy==1.5.0
selenium==3.10.0
service-identity==17.0.0
six==1.11.0
sklearn==0.0
sympy==1.1.1
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
Twisted==17.9.0
urllib3==1.22
w3lib==1.19.0
Werkzeug==0.14.1
xlrd==1.1.0
zope.interface==4.4.3
