<!DOCTYPE html>
{% load static %}
<html>
<head>
{% include 'panel/header.html' %}
{% include 'panel/loader.html' %}
    <style type="text/css">.CRZ{table-layout:fixed;}.CRZ td,.CRZ th{overflow:hidden}.CRC{height:0px;position:relative;}.CRG{margin-left:-5px;position:absolute;z-index:5;}.CRG .CRZ{position:absolute;background-color:red;filter:alpha(opacity=1);opacity:0;width:10px;height:100%;top:0px}.CRL{position:absolute;width:1px}.CRD{ border-left:1px dotted black}</style>
<body>
<!-- Left side content -->
<div id="leftSide">
    <div class="logo"><a href="/panel/" style="font-size:medium; color:#FFF"><img style="width:25%" src="{% static 'images/logo.png' %}" alt="" /> Find Books!</a></div> <!--  -->


    <!-- General balance widget -->
    {% include 'panel/balance_bar.html' %}

    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <li class="dash"><a href="/panel/" title="" class="active"><span>Dashboard</span></a></li>
        <li class="charts"><a href="/market/" title=""><span>Market</span></a></li>
        <li class="forms"><a href="#" title="" class="exp"><span>Forms stuff</span><strong>4</strong></a>
            <ul class="sub">
                <li><a href="forms.html" title="">Form elements</a></li>
                <li><a href="form_validation.html" title="">Validation</a></li>
                <li><a href="form_editor.html" title="">WYSIWYG and file uploader</a></li>
                <li class="last"><a href="form_wizards.html" title="">Wizards</a></li>
            </ul>
        </li>
        <li class="ui"><a href="ui_elements.html" title=""><span>Interface elements</span></a></li>
        <li class="tables"><a href="tables.html" title="" class="exp"><span>Tables</span><strong>3</strong></a>
            <ul class="sub">
                <li><a href="table_static.html" title="">Static tables</a></li>
                <li><a href="table_dynamic.html" title="">Dynamic table</a></li>
                <li class="last"><a href="table_sortable_resizable.html" title="">Sortable &amp; resizable tables</a></li>
            </ul>
        </li>
        <li class="widgets"><a href="#" title="" class="exp"><span>Widgets and grid</span><strong>2</strong></a>
            <ul class="sub">
                <li><a href="widgets.html" title="">Widgets</a></li>
                <li class="last"><a href="grid.html" title="">Grid</a></li>
            </ul>
        </li>
        <li class="errors"><a href="#" title="" class="exp"><span>Error pages</span><strong>6</strong></a>
            <ul class="sub">
                <li><a href="403.html" title="">403 page</a></li>
                <li><a href="404.html" title="">404 page</a></li>
                <li><a href="405.html" title="">405 page</a></li>
                <li><a href="500.html" title="">500 page</a></li>
                <li><a href="503.html" title="">503 page</a></li>
                <li class="last"><a href="offline.html" title="">Website is offline</a></li>
            </ul>
        </li>
        <li class="files"><a href="file_manager.html" title=""><span>File manager</span></a></li>
        <li class="typo"><a href="#" title="" class="exp"><span>Other pages</span><strong>3</strong></a>
            <ul class="sub">
                <li><a href="typography.html" title="">Typography</a></li>
                <li><a href="calendar.html" title="">Calendar</a></li>
                <li class="last"><a href="gallery.html" title="">Gallery</a></li>
            </ul>
        </li>
    </ul>
</div>


<!-- Right side -->
<div id="rightSide">

    {% include 'panel/top_bar.html' %}



    <!-- Title area -->
    {% include 'panel/title_bar.html' %}



    <!-- Main content wrapper -->
    <div class="wrapper">



        <!-- Widgets -->
        <form action="" id="validate" class="form" method="POST" enctype="multipart/form-data">
            <fieldset>
                {% csrf_token %}
                <div class="widget">
                    <div class="title"><img src="{% static 'images/icons/dark/transfer.png' %}" alt="" class="titleIcon" /><h6>Sign Up</h6></div>
                    <div class="formRow">
                        <label>User Name:<span class="req">*</span></label>
                        <div class="formRight"><input type="text" class="validate[required]" name="name" id="req"/></div><div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Password:<span class="req">*</span></label>
                        <div class="formRight"><input type="password" class="validate[required]" name="password1" id="password1" /></div><div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Repeat password:<span class="req">*</span></label>
                        <div class="formRight"><input type="password" class="validate[required,equals[password1]]" name="password2" id="password2" /></div><div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Identity:<span class="req">*</span></label>
                        <div class="formRight">
                            <div class="floatL">
                                <select name="typ" id="selectReq" class="validate[required]">
                                    <option value="n">Customer</option>
                                    <option value="a">Retailer</option>
                                    <option value="g">Admin</option>
                                </select>
                            </div>

                        </div><div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Department:</label>
                        <div class="formRight"><input type="text" class="" name="dept" id="req"/></div><div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Grade:</label>
                        <div class="formRight">
                            <div class="floatL">
                                <select name="grade" id="selectReq" class="validate[required]">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div><div class="clear"></div>
                    </div>
                    <div class="formSubmit"><input type="submit" value="submit" class="redB" /></div>
                    <div class="clear"></div>
                </div>
                </fieldset>

                </form>


    </div>

    <!-- Footer line -->
    {% include 'panel/footer.html' %}

</div>

<div class="clear"></div>

</body>
</html>
