<!DOCTYPE html>
{% load static %}
<html>
<head>
{% include 'panel/header.html' %}
{% include 'panel/loader.html' %}

<body>
<!-- Left side content -->
<div id="leftSide">
    <div class="logo"><a href="/panel/" style="font-size:medium; color:#FFF"><img style="width:25%" src="{% static 'images/logo.png' %}" alt="" /> Hello Admin!</a></div> <!--  -->


    <!-- General balance widget -->
    {% include 'panel/balance_bar.html' %}

    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <li class="dash"><a href="/panel/" title="" class="active"><span>Dashboard</span></a></li>
        <li class="charts"><a href="/market/" title=""><span>Market</span></a></li>
        <li class="forms"><a href="#" title="" class="exp"><span>Forms stuff</span><strong>4</strong></a>
            <ul class="sub">
                <li><a href="forms.html" title="">Form elements</a></li>
                <li><a href="form_validation.html" title="">Validation</a></li>
                <li><a href="form_editor.html" title="">WYSIWYG and file uploader</a></li>
                <li class="last"><a href="form_wizards.html" title="">Wizards</a></li>
            </ul>
        </li>
        <li class="ui"><a href="ui_elements.html" title=""><span>Interface elements</span></a></li>
        <li class="tables"><a href="tables.html" title="" class="exp"><span>Tables</span><strong>3</strong></a>
            <ul class="sub">
                <li><a href="table_static.html" title="">Static tables</a></li>
                <li><a href="table_dynamic.html" title="">Dynamic table</a></li>
                <li class="last"><a href="table_sortable_resizable.html" title="">Sortable &amp; resizable tables</a></li>
            </ul>
        </li>
        <li class="widgets"><a href="#" title="" class="exp"><span>Widgets and grid</span><strong>2</strong></a>
            <ul class="sub">
                <li><a href="widgets.html" title="">Widgets</a></li>
                <li class="last"><a href="grid.html" title="">Grid</a></li>
            </ul>
        </li>
        <li class="errors"><a href="#" title="" class="exp"><span>Error pages</span><strong>6</strong></a>
            <ul class="sub">
                <li><a href="403.html" title="">403 page</a></li>
                <li><a href="404.html" title="">404 page</a></li>
                <li><a href="405.html" title="">405 page</a></li>
                <li><a href="500.html" title="">500 page</a></li>
                <li><a href="503.html" title="">503 page</a></li>
                <li class="last"><a href="offline.html" title="">Website is offline</a></li>
            </ul>
        </li>
        <li class="files"><a href="file_manager.html" title=""><span>File manager</span></a></li>
        <li class="typo"><a href="#" title="" class="exp"><span>Other pages</span><strong>3</strong></a>
            <ul class="sub">
                <li><a href="typography.html" title="">Typography</a></li>
                <li><a href="calendar.html" title="">Calendar</a></li>
                <li class="last"><a href="gallery.html" title="">Gallery</a></li>
            </ul>
        </li>
    </ul>
</div>


<!-- Right side -->
<div id="rightSide">

    {% include 'panel/top_bar.html' %}

    <br>
    <!-- Main content wrapper -->
    <div class="wrapper">

        <!-- Note -->
        {% if msg %}
        <div class="nNote n{{ TYPE }} hideit">
            <p><strong>INFORMATION: </strong>{{ msg }}</p>
        </div>
        {% endif %}


        <!-- Widgets -->
        <div class="widgets">
            <div class="clear"></div>
        </div>

        <!-- Detail info of a report-->
        {% if detail %}
             <div class="widget">
                <div class="formRow">
                    <label for="pass">Detail info: {{ detail.info }}</label>
                    <div class="clear"></div>
                </div>
                 <div class="formRow">
                    <label for="pass">Reporter: {{ detail.reporter.username }}</label>
                     <input type="button" onclick="window.location.href='/detail/?repo_id={{ detail.id }}&p={{ detail.reporter.username }}'" value="Punish Reporter" class="dredB logMeIn" />
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <label for="pass">Being Reported: {{ reported }}</label>
                    <input type="button" onclick="window.location.href='/detail/?repo_id={{ detail.id }}&p={{ reported }}'" value="Punish Reported" class="dredB logMeIn" />
                    <div class="clear"></div>
                </div>
        </div>
        {% endif %}
    	<!-- Dynamic table of report-->
        <div class="widget">
            <div class="title"><img src="{% static 'images/icons/dark/full2.png' %}" alt="" class="titleIcon" /><h6>Reports</h6></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display dTable">
            <thead>
            <tr>
                <th>report number</th>
                <th>Reporter</th>
                <th>transaction number</th>
                <th>information</th>
                <th>Done</th>
            </tr>
            </thead>
            <tbody>
            {% for report in reports %}
                {% if report.isFinish %}
                    <tr class="gradeA">
                {% else %}
                    <tr class="gradeX">
                {% endif %}
                    <td><a href="/detail/?repo_id={{ report.id }}&p=">{{ report.id }}</a></td>
                    <td>{{ report.reporter.username }}</td>
                    <td>{{ report.trans.id }}</td>
                    <td>{{ report.info }}</td>
                    <td class="actBtns"><a href="/detail/?d={{ report.id }}" title="Finish" class="tipS" type="submit"><img src="{% static 'images/icons/edit.png' %}" alt="" /></a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>

        <!-- Dynamic table of corrections-->
        <div class="widget">
            <div class="title"><img src="{% static 'images/icons/dark/full2.png' %}" alt="" class="titleIcon" /><h6>Corrections</h6></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display dTable">
            <thead>
            <tr>
                <th>Corrections number</th>
                <th>Corrector</th>
                <th>information</th>
                <th>close</th>
            </tr>
            </thead>
            <tbody>
            {% for correct in corrections %}
                {% if correct.isFinish %}
                    <tr class="gradeA">
                {% else %}
                    <tr class="gradeX">
                {% endif %}
                    <td>correct.id</td>
                    <td>correct.corrector.username</td>
                    <td>correct.info[0:20]</td>
                    <td class="actBtns"><a href="" title="Finish" class="tipS" type="submit"><img src="{% static 'images/icons/edit.png' %}" alt="" /></a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>

    </div>

    <!-- Footer line -->
    {% include 'panel/footer.html' %}

</div>

<div class="clear"></div>

</body>
</html>

