<!DOCTYPE html>
{% load static %}
<html>
<head>
{% include 'panel/header.html' %}
{% include 'panel/loader.html' %}

<body>
<!-- Left side content -->
<div id="leftSide">
    <div class="logo"><a href="/panel/" style="font-size:medium; color:#FFF"><img style="width:25%" src="{% static 'images/logo.png' %}" alt="" /> Your Books!</a></div> <!--  -->


    <!-- General balance widget -->
    {% include 'panel/balance_bar.html' %}

    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <li class="dash"><a href="/panel/" title=""><span>Dashboard</span></a></li>
        <li class="charts"><a href="/market/" title=""><span>Market</span></a></li>
        <li class="forms"><a href="#" title="" class="exp"><span>Forms stuff</span><strong>4</strong></a>
            <ul class="sub">
                <li><a href="forms.html" title="">Form elements</a></li>
                <li><a href="form_validation.html" title="">Validation</a></li>
                <li><a href="form_editor.html" title="">WYSIWYG and file uploader</a></li>
                <li class="last"><a href="form_wizards.html" title="">Wizards</a></li>
            </ul>
        </li>
        <li class="ui"><a href="ui_elements.html" title=""><span>Interface elements</span></a></li>
        <li class="tables"><a href="tables.html" title="" class="exp"><span>Tables</span><strong>3</strong></a>
            <ul class="sub">
                <li><a href="table_static.html" title="">Static tables</a></li>
                <li><a href="table_dynamic.html" title="">Dynamic table</a></li>
                <li class="last"><a href="table_sortable_resizable.html" title="">Sortable &amp; resizable tables</a></li>
            </ul>
        </li>
        <li class="widgets"><a href="#" title="" class="exp"><span>Widgets and grid</span><strong>2</strong></a>
            <ul class="sub">
                <li><a href="widgets.html" title="">Widgets</a></li>
                <li class="last"><a href="grid.html" title="">Grid</a></li>
            </ul>
        </li>
        <li class="errors"><a href="#" title="" class="exp"><span>Error pages</span><strong>6</strong></a>
            <ul class="sub">
                <li><a href="403.html" title="">403 page</a></li>
                <li><a href="404.html" title="">404 page</a></li>
                <li><a href="405.html" title="">405 page</a></li>
                <li><a href="500.html" title="">500 page</a></li>
                <li><a href="503.html" title="">503 page</a></li>
                <li class="last"><a href="offline.html" title="">Website is offline</a></li>
            </ul>
        </li>
        <li class="files"><a href="file_manager.html" title=""><span>File manager</span></a></li>
        <li class="typo"><a href="#" title="" class="exp"><span>Other pages</span><strong>3</strong></a>
            <ul class="sub">
                <li><a href="typography.html" title="">Typography</a></li>
                <li><a href="calendar.html" title="">Calendar</a></li>
                <li class="last"><a href="gallery.html" title="">Gallery</a></li>
            </ul>
        </li>
    </ul>
</div>


<!-- Right side -->
<div id="rightSide">

    {% include 'panel/top_bar.html' %}

    <!-- Title area -->
    {% include 'panel/title_bar.html' %}

    <div class="line"></div>

    <!-- Main content wrapper -->
    <div class="wrapper">
        <div style="padding-top:20px"></div>
        <!-- Note -->
        {% if msg %}
        <div class="nNote n{{ TYPE }} hideit">
            <p><strong>INFORMATION:</strong>{{ msg }}</p>
        </div>
        {% endif %}

        {% if reports %}
        <div class="widget">
            <div class="title"><h6>My Reports</h6></div>
            <table cellpadding="0" cellspacing="0" width="100%" class="sTable taskWidget">
                        <thead>
                            <tr>
                                <td>Description</td>
                                <td width="140">Date</td>
                                <td width="100">Status</td>
                                <td width="60">Acts</td>
                            </tr>
                        </thead>

                        <tbody>
                        {% for report in reports %}
                            <tr>
                                <td class="{% if not report.isFinish %}taskP{% elif report.brate == 0 %}taskD{% else %}taskPr{% endif %}"><a href="/report/{{ report.id }}/" title="">《{{ report.trans.book_id.name }}》{{ report.info }}</a></td>
                                <td><a href="#" title="">{{ report.trans.date }}</a></td>
                                <td><span class="{% if not report.isFinish %}grey{% else %}green{% endif %} f11">{% if not report.isFinish %}In Progress{% else %}Finished{% endif %}</span></td>
                                <td class="actBtns"><a href="?del={{ report.id }}/" title="Delete" class="tipS" type="submit"><img src="{% static 'images/icons/remove.png' %}" alt="" /></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
        </div>
    {% endif %}

    {% if issues %}
        <div class="widget">
            <div class="title"><h6>My Issues</h6></div>
            <table cellpadding="0" cellspacing="0" width="100%" class="sTable taskWidget">
                        <thead>
                            <tr>
                                <td>Description</td>
                                <td width="140">Date</td>
                                <td width="100">Status</td>
                                <td width="60">Acts</td>
                            </tr>
                        </thead>

                        <tbody>
                        {% for report in issues %}
                            <tr>
                                <td class="{% if not report.isFinish %}taskP{% elif report.brate == 0 %}taskD{% else %}taskPr{% endif %}"><a href="/report/{{ report.id }}/" title="">《{{ report.trans.book_id.name }}》{{ report.info }}</a></td>
                                <td><a href="#" title="">{{ report.trans.date }}</a></td>
                                <td><span class="{% if not report.isFinish %}grey{% else %}green{% endif %} f11">{% if not report.isFinish %}In Progress{% else %}Finished{% endif %}</span></td>
                                <td class="actBtns"><a href="/report/{{ report.id }}/" class="tipS" original-title="Update"><img src="{% static 'images/icons/edit.png' %}" alt=""></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
        </div>
    {% endif %}
</div>




    <!-- Footer line -->
    {% include 'panel/footer.html' %}

</div>

<div class="clear"></div>

</body>
</html>

