<!DOCTYPE html>
{% load static %}
<head>
<title>Crown - premium responsive admin template for backend systems</title>
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
{% include 'panel/loader.html' %}
</head>

<body class="nobg loginPage">

<!-- Top fixed navigation -->
<div class="topNav">
    <div class="wrapper">
        <div class="userNav">
            <ul>
                <li><a href="/panel/" title=""><img src = {% static 'images/icons/topnav/mainWebsite.png' %} alt="" /><span>Main website</span></a></li>
                <li><a href="#" title=""><img src = {% static 'images/icons/topnav/profile.png' %} alt="" /><span>Contact admin</span></a></li>
                <li><a href="#" title=""><img src = {% static 'images/icons/topnav/messages.png' %} alt="" /><span>Support</span></a></li>
                <li><a href="login.html" title=""><img src = {% static 'images/icons/topnav/settings.png' %} alt="" /><span>Settings</span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>


<!-- Main content wrapper -->
<div class="loginWrapper">
    <div class="loginLogo"><img src = {% static 'images/loginLogo.png' %} alt="" /></div>
    <div class="widget">
        <div class="title"><img src = {% static 'images/icons/dark/files.png' %} alt="" class="titleIcon" /><h6>Login panel</h6></div>
        <form action="" id="validate" class="form" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="formRow">
                    <label for="login">Username:</label>
                    <div class="loginInput"><input type="text" name="name" class="validate[required]" id="login" /></div>
                    <div class="clear"></div>
                </div>
                
                <div class="formRow">
                    <label for="pass">Password:</label>
                    <div class="loginInput"><input type="password" name="password" class="validate[required]" id="pass" /></div>
                    <div class="clear"></div>
                </div>
                
                <div class="loginControl">
                    <div class="rememberMe"><input type="checkbox" id="remMe" name="remMe" /><label for="remMe">Remember me</label></div>
                    <input type="submit" value="Log me in" class="dredB logMeIn" />
                    <div class="clear"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>    

<!-- Footer line -->
<div id="footer">
    <div class="wrapper">As usually all rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></div>
</div>


</body>
</html>