<!DOCTYPE html>
{% load static %}
<html>
<head>
{% include 'panel/header.html' %}
{% include 'panel/loader.html' %}
<script>

        function expand(){
            document.getElementById('fold').hidden = true;
            document.getElementById('report').hidden = false;
        }

        function purchase(){
            document.getElementById('pp_exit').click();
            setTimeout(function () {
                document.getElementById('buy').click();
            }, 500);
        }
        var check = {% if retail == "Retailer" %}{{ order.srate }}{% else %}{{ order.brate }}{% endif %};//该变量是记录当前选择的评分
        var fcheck = {% if retail == "Customer" %}{{ order.srate }}{% else %}{{ order.brate }}{% endif %};//该变量是记录当前选择的评分

        $(document).ready(function(){
            fout();
            out();
        });
        function fout(){
            if(fcheck == 1){//打分是1，设置第一颗星星亮，其他星星暗，其他情况以此类推
                $("#fstar1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar2").attr("src","{% static 'images/stars/star.png' %}");
                $("#fstar3").attr("src","{% static 'images/stars/star.png' %}");
                $("#fstar4").attr("src","{% static 'images/stars/star.png' %}");
                $("#fstar5").attr("src","{% static 'images/stars/star.png' %}");
                $("#fmessage").html("Very Bad!");
            }else if(fcheck == 2){
                $("#fstar1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar3").attr("src","{% static 'images/stars/star.png' %}");
                $("#fstar4").attr("src","{% static 'images/stars/star.png' %}");
                $("#fstar5").attr("src","{% static 'images/stars/star.png' %}");
                $("#fmessage").html("Relatively Bad!");
            }else if(fcheck == 3){
                $("#fstar1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar3").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar4").attr("src","{% static 'images/stars/star.png' %}");
                $("#fstar5").attr("src","{% static 'images/stars/star.png' %}");
                $("#fmessage").html("Fair...");
            }else if(fcheck == 4){
                $("#fstar1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar3").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar4").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar5").attr("src","{% static 'images/stars/star.png' %}");
                $("#fmessage").html("Pretty Good!");
            }else if(fcheck == 5){
                $("#fstar1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar3").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar4").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fstar5").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#fmessage").html("Excellent!");
            }else if(fcheck == 0){
                $("#fstar1").attr("src","{% static 'images/stars/star.png' %}");
                $("#fstar2").attr("src","{% static 'images/stars/star.png' %}");
                $("#fstar3").attr("src","{% static 'images/stars/star.png' %}");
                $("#fstar4").attr("src","{% static 'images/stars/star.png' %}");
                $("#fstar5").attr("src","{% static 'images/stars/star.png' %}");
                $("#fmessage").html("Not Graded Yet!");
            }
        }

        /*over()是鼠标移过事件的处理方法*/
        function over(param){
            if(param == 1){
                $("#star1").attr("src","{% static 'images/stars/star_red.png' %}");//第一颗星星亮起来，下面以此类推
                $("#message").html("Very Bad!");//设置提示语，下面以此类推
            }else if(param == 2){
                $("#star1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#message").html("Relatively Bad!");
            }else if(param == 3){
                $("#star1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star3").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#message").html("Fair...");
            }else if(param == 4){
                $("#star1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star3").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star4").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#message").html("Pretty Good!");
            }else if(param == 5){
                $("#star1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star3").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star4").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star5").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#message").html("Excellent!");
            }
        }
        /*out 方法是鼠标移除事件的处理方法，当鼠标移出时，恢复到我的打分情况*/
        function out(){
            if(check == 1){//打分是1，设置第一颗星星亮，其他星星暗，其他情况以此类推
                $("#star1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star2").attr("src","{% static 'images/stars/star.png' %}");
                $("#star3").attr("src","{% static 'images/stars/star.png' %}");
                $("#star4").attr("src","{% static 'images/stars/star.png' %}");
                $("#star5").attr("src","{% static 'images/stars/star.png' %}");
                $("#message").html("Very Bad!");
            }else if(check == 2){
                $("#star1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star3").attr("src","{% static 'images/stars/star.png' %}");
                $("#star4").attr("src","{% static 'images/stars/star.png' %}");
                $("#star5").attr("src","{% static 'images/stars/star.png' %}");
                $("#message").html("Relatively Bad!");
            }else if(check == 3){
                $("#star1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star3").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star4").attr("src","{% static 'images/stars/star.png' %}");
                $("#star5").attr("src","{% static 'images/stars/star.png' %}");
                $("#message").html("Fair...");
            }else if(check == 4){
                $("#star1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star3").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star4").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star5").attr("src","{% static 'images/stars/star.png' %}");
                $("#message").html("Pretty Good!");
            }else if(check == 5){
                $("#star1").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star2").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star3").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star4").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#star5").attr("src","{% static 'images/stars/star_red.png' %}");
                $("#message").html("Excellent!");
            }else if(check == 0){
                $("#star1").attr("src","{% static 'images/stars/star.png' %}");
                $("#star2").attr("src","{% static 'images/stars/star.png' %}");
                $("#star3").attr("src","{% static 'images/stars/star.png' %}");
                $("#star4").attr("src","{% static 'images/stars/star.png' %}");
                $("#star5").attr("src","{% static 'images/stars/star.png' %}");
                $("#message").html("Not Graded Yet!");
            }
        }
        /*click()点击事件处理，记录打分*/
        function click(param){
            if(check > 0)
                alert("Already Graded Order {{ order.id }}!");
            else{
                check = param;//记录当前打分
            out();//设置星星数

            $.post("/order/{{ order.id }}/{{ retail }}/", {'star': check, 'order_id': {{ order.id }}, 'csrfmiddlewaretoken': "{{ csrf_token }}"});
            setTimeout(function () {
                document.location = "/order/{{ order.id }}/{{ retail }}/";
            }, 1000);

            }
         }
         function Send(){
            var comment = document.getElementById('comment').value;
            if(comment == '')
                alert("Must Input Some Reports!");
            else{
                $.post("/order/{{ order.id }}/{{ retail }}/", {'comment': comment, 'csrfmiddlewaretoken': "{{ csrf_token }}", 'report':"True"});
                alert("Report Submitted!");
                document.getElementById('fold').onclick = null;
                document.getElementById('report').hidden = true;
                setTimeout(function () {
                document.location = "/order/{{ order.id }}/{{ retail }}/";
            }, 1000);
            }
         }

    </script>
<body>
<!-- Left side content -->
<div id="leftSide">
    <div class="logo"><a href="/panel/" style="font-size:medium; color:#FFF"><img style="width:25%" src="{% static 'images/logo.png' %}" alt="" /> Find Books!</a></div> <!--  -->


    <!-- General balance widget -->
    {% include 'panel/balance_bar.html' %}

    <!-- Left navigation -->
    {% include 'panel/left_bar.html' %}
</div>


<!-- Right side -->
<div id="rightSide">

    {% include 'panel/top_bar.html' %}



    <!-- Title area -->
    {% load static %}
        <div class="titleArea">
        <div class="wrapper">
            <div class="pageTitle">
                <h1><strong>#{{ order.id }}</strong> Order Details</h1>
                <span>{{ username }} | {{ retail }}</span>
            </div>
        </div>
        </div>
    <div class="clear"></div>
    <div class="line"></div>


    <!-- Main content wrapper -->
    <div class="wrapper">
        <!-- Note -->
        {% if msg %}
        <div class="nNote n{{ TYPE }} hideit">
            <p><strong>INFORMATION: </strong>{{ msg }}</p>
        </div>
        {% endif %}


    {% if order %}

        <div class="widget">
        <form method="POST" action="">
            <div class="title"><h6>Order Content</h6></div>
            <table cellpadding="0" cellspacing="0" width="100%" class="sTable withCheck mTable" id="checkAll">
                <thead>
                    <tr>
                        <td>Cover</td>
                        <td class="sortCol"><div>Name<span></span></div></td>
                        <td class="sortCol"><div>Info<span></span></div></td>
                        <td>Price</td>
                    </tr>
                </thead>
                <tfoot>

                </tfoot>
                <tbody>

                   <tr>
                     <td align="center"><a href="{{ order.book_id.cover.url }}" title="" rel="lightbox"><img src="{{ order.book_id.cover.url }}" alt="" style="width:60px" /></a></td>
                        <td style="width:50px;text-align:center"><a href="#" title="">{{ order.book_id.name }}</a></td>
                        <td align="center">{{ order.book_id.info }}</td>
                        <td class="fileInfo"><span><strong>¥ </strong> {{ order.book_id.price }}</span></td>

                   </tr>
                </tbody>
            </table>
        </form>
        </div>
    {% endif %}


        {% if order %}

            <div class="widget">
            <div class="title"><img src="{% static '/images/icons/dark/loading.png' %}" alt="" class="titleIcon"><h6>Order Progress</h6></div>
            <div class="formRow">
                <div>

                           <h2>{% if not order.isFinish %}    Waiting for Confirmation...{% elif order.srate == 0 %}    Waiting for seller to rate...{% elif order.brate == 0 %}    Waiting for buyer to rate...{% else %}    Order Finished!{% endif %}</h2>

                <div class="clear"></div>
                    <div id="progress" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                 aria-valuenow="10">

                        <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: {% if not order.isFinish %}0{% elif order.srate == 0 %}50{% elif order.brate == 0 %}80{% else %}100{% endif %}%;"></div>
                    </div>
                        <div class="wizButtons">
                                <div class="status" id="status1"></div>
                                <span class="wNavButtons" style="margin-bottom: 0">
                                    {% if not order.isFinish %}
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                    <input type="hidden" name="confirm" value="True" />

                                        <input type="hidden" name="order_id" value="{{ order.id }}" />
                                    <input class="greenB ml10" value="CONFIRM" type="submit" />
                                    </form>
                                    {% endif %}
                                </span>
                            </div>
                   </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="widgets">
            <div class="oneTwo">

                <!-- Headings -->
                <div class="widget">
                    <div class="title"><img src="{% static 'images/icons/dark/clipboard.png' %}" alt="" class="titleIcon"><h6>Grades</h6></div>
                    <div class="body">
                        <h1 class="pt10">Grade As a <span class="{% if retail == "Retailer" %}green{% else %}blue{% endif %}Back">{{ retail }}</span></h1>
                        {% if order.isFinish %}
                        <div style="padding-left:6%;padding-top:5%;padding-bottom:3%">
                            <a href="javascript:click(1)"><img src="{% static 'images/stars/star.png' %}" id="star1" onMouseOver="over(1)" onMouseOut="out(1)" style="width:20px;"/></a>
                            <a href="javascript:click(2)"><img src="{% static 'images/stars/star.png' %}" id="star2" onMouseOver="over(2)" onMouseOut="out(2)" style="width:20px;" /></a>
                            <a href="javascript:click(3)"><img src="{% static 'images/stars/star.png' %}" id="star3" onMouseOver="over(3)" onMouseOut="out(3)" style="width:20px;" /></a>
                            <a href="javascript:click(4)"><img src="{% static 'images/stars/star.png' %}" id="star4" onMouseOver="over(4)" onMouseOut="out(4)" style="width:20px;"/></a>
                            <a href="javascript:click(5)"><img src="{% static 'images/stars/star.png' %}" id="star5" onMouseOver="over(5)" onMouseOut="out(5)" style="width:20px;"/></a>
                        </div>
                            <h4 id="message" style="padding-left:6%;padding-top:1%;">Not Graded Yet!</h4>

                            {% else %}
                                <h4 style="padding-left:6%;padding-top:4%;">Waiting for Confirmation...</h4>
                            {% endif %}

                    </div>
                </div>
            </div>

            <div class="oneTwo">

                <!-- Headings -->
                <div class="widget">
                    <div class="title"><img src="{% static 'images/icons/dark/clipboard.png' %}" alt="" class="titleIcon"><h6>Remarks</h6></div>
                    <div class="body">
                        <h1 class="pt10">Remark by <span class="{% if retail == "Customer" %}green{% else %}blue{% endif %}Back">{% if retail == "Customer" %}Seller {{ order.book_id.owner.username }}{% else %}Customer {{ order.buyer }}{% endif %}</span></h1>
                        {% if order.isFinish %}
                        <div style="padding-left:6%;padding-top:5%;padding-bottom:3%">
                            <a href="javascript:alert('Unable to grade for seller!');"><img src="{% static 'images/stars/star.png' %}" id="fstar1" style="width:20px;"/></a>
                            <a href="javascript:alert('Unable to grade for seller!');"><img src="{% static 'images/stars/star.png' %}" id="fstar2" style="width:20px;" /></a>
                            <a href="javascript:alert('Unable to grade for seller!');"><img src="{% static 'images/stars/star.png' %}" id="fstar3" style="width:20px;" /></a>
                            <a href="javascript:alert('Unable to grade for seller!');"><img src="{% static 'images/stars/star.png' %}" id="fstar4" style="width:20px;"/></a>
                            <a href="javascript:alert('Unable to grade for seller!');"><img src="{% static 'images/stars/star.png' %}" id="fstar5" style="width:20px;"/></a>
                        </div>
                            <h4 id="fmessage" style="padding-left:6%;padding-top:1%;">Not Graded Yet!</h4>

                            {% else %}
                                <h4 style="padding-left:6%;padding-top:4%;">Waiting for Confirmation...</h4>
                            {% endif %}

                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    {% else %}
        <!-- Note -->
        <div class="nNote nFailure hideit">
            <p><strong>INFORMATION: </strong>Error Loading Rate System!</p>
        </div>
    {% endif %}






    <div class="widget">
        <form action="" class="form">
            {% csrf_token %}
                <fieldset>
                        <div class="title"><img src="{% static 'images/icons/dark/list.png' %}" alt="" class="titleIcon" /><h6>Issues</h6><div class="num"><a href="#" class="redNum">+{{ reportSum }}</a></div></div>

                        {% if reports %}
        <!-- My tasks table widget -->
                    <table cellpadding="0" cellspacing="0" width="100%" class="sTable taskWidget">
                        <thead>
                            <tr>
                                <td>Description</td>
                                <td width="140">Date</td>
                                <td width="100">Status</td>
                                <td width="60">Acts</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for report in reports %}
                            <tr>
                                <td class="{% if not report.isFinish %}taskP{% elif report.brate == 0 %}taskD{% else %}taskPr{% endif %}"><a href="/report/{{ report.id }}/" title="">《{{ report.trans.book_id.name }}》{{ report.info }}</a></td>
                                <td><a href="#" title="">{{ report.trans.date }}</a></td>
                                <td><span class="{% if not report.isFinish %}grey{% else %}green{% endif %} f11">{% if not report.isFinish %}In Progress{% else %}Finished{% endif %}</span></td>
                                <td class="actBtns"><a href="/report/{{ report.id }}/" title="Details" class="tipS"><img src="{% static 'images/icons/edit.png' %}" alt="" /></a></td>
                            </tr>
                        {% endfor %}
                        <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>  
                                </tr>
                        </tbody>
                    </table>

    {% endif %}
                        <div class="clear"></div>

                            <div id="fold" style="margin: 2% 2% 2% 2%;padding-left: 35%">
                                <a title="" class="wButton redwB" onclick="expand();"><span>Report an Issue</span></a>
                            </div>
                        <div id="report" hidden="hidden">
                            <div class="formRow">
                                <label>Comment:</label>
                                <div class="formRight"><textarea rows="8" cols="" name="comment" id="comment" class="autoGrow"></textarea></div>
                                <div class="clear"></div>
                            </div>

                            <div class="formRow">
                                <label for="tags">Tags:</label>
                                <div class="formRight"><input type="text" id="tags" name="tags" class="tags" value="Problem" /></div>
                                <div class="clear"></div>
                            </div>

                            <div class="wizButtons">
                                <div class="status" id="status1"></div>
                                <span class="wNavButtons">
                                    <a class="wButton redwB" onclick="Send();"><span>Submit</span></a>
                                </span>
                            </div>

                        </div>
                </fieldset>
            </form>

    </div>


    </div>

    <!-- Footer line -->
    {% include 'panel/footer.html' %}

</div>

<div class="clear"></div>

</body>
</html>