<!DOCTYPE html>
{% load static %}
<html>
<head>
{% include 'panel/header.html' %}
{% include 'panel/loader.html' %}
<script>


    </script>
<body>
<!-- Left side content -->
<div id="leftSide">
    <div class="logo"><a href="/panel/" style="font-size:medium; color:#FFF"><img style="width:25%" src="{% static 'images/logo.png' %}" alt="" /> Find Books!</a></div> <!--  -->


    <!-- General balance widget -->
    {% include 'panel/balance_bar.html' %}

    <!-- Left navigation -->
    {% include 'panel/left_bar.html' %}
</div>


<!-- Right side -->
<div id="rightSide">

    {% include 'panel/top_bar.html' %}



    <!-- Title area -->
    {% load static %}
        <div class="titleArea">
        <div class="wrapper">
            <div class="pageTitle">
                <h1><strong>#{{ report.id }}</strong> Report Details</h1>
                <span>{{ username }} | {{ retail }}</span>
            </div>
        </div>
        </div>
    <div class="clear"></div>
    <div class="line"></div>


    <!-- Main content wrapper -->
    <div class="wrapper">
        <!-- Note -->
        {% if msg %}
        <div class="nNote n{{ TYPE }} hideit">
            <p><strong>INFORMATION: </strong>{{ msg }}</p>
        </div>
        {% endif %}

        {% if report %}
            <div class="widget">
                        <div class="title"><img src="{% static 'images/icons/dark/list.png' %}" alt="" class="titleIcon" /><h6>Issues</h6><div class="num"><a href="#" class="redNum">+1</a></div></div>


        <!-- My tasks table widget -->
                    <table cellpadding="0" cellspacing="0" width="100%" class="sTable taskWidget">
                        <thead>
                            <tr>
                                <td>Description</td>
                                <td width="140">Date</td>
                                <td width="100">Status</td>
                                <td width="60">Acts</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="{% if not report.isFinish %}taskP{% elif report.brate == 0 %}taskD{% else %}taskPr{% endif %}"><a href="/report/{{ report.id }}" title="">《{{ report.trans.book_id.name }}》{{ report.info }}</a></td>
                                <td><a href="#" title="">{{ report.trans.date }}</a></td>
                                <td><span class="{% if not report.isFinish %}grey{% else %}green{% endif %} f11">{% if not report.isFinish %}In Progress{% else %}Finished{% endif %}</span></td>
                                <td class="actBtns"><a href="/report/{{ report.id }}" title="Details" class="tipS"><img src="{% static 'images/icons/edit.png' %}" alt="" /></a></td>
                            </tr>

                        </tbody>
                    </table>
            </div>
            {% endif %}
    {% if report %}

            <div class="widget">
            <div class="title"><img src="{% static '/images/icons/dark/loading.png' %}" alt="" class="titleIcon"><h6>Order Progress</h6></div>
            <div class="formRow">
                <div>

                           <h2>{% if not report.isFinish %}    Waiting for Intercession...{% else %}    Report Solved!{% endif %}</h2>

                <div class="clear"></div>
                    <div id="progress" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                 aria-valuenow="10">

                        <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: {% if not report.isFinish %}0{% else %}100{% endif %}%;"></div>
                    </div>
                        <div class="wizButtons">
                                <div class="status" id="status1"></div>
                                <span class="wNavButtons" style="margin-bottom: 0">
                                    {% if not report.isFinish %}
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                    <input type="hidden" name="confirm" value="True" />
                                        <input type="hidden" name="report_id" value="{{ report.id }}" />
                                        {% ifequal retail "Buyer" %}
                                        <input class="greenB ml10" value="SETTLE" type="submit" />
                                    {% else %}
                                        <a class="wButton redwB"><span>PENDING</span></a>
                                    {% endifequal %}
                                    </form>
                                    {% endif %}
                                </span>
                            </div>
                   </div>
                <div class="clear"></div>
            </div>
        </div>
    {% endif %}


    </div>

    <!-- Footer line -->
    {% include 'panel/footer.html' %}

</div>

<div class="clear"></div>

</body>
</html>