{% load static %}
<ul id="menu" class="nav">
        <li class="dash"><a href="/panel/" title=""><span>Dashboard</span></a></li>
        <li class="charts"><a href="/market/" title=""><span>Market</span></a></li>
        <li class="ui"><a href="/info/" title=""><span>Account</span></a></li>
        <li class="files"><a href="/list_mysell/" title=""><span>My Books</span></a></li>

        <li class="forms"><a href="/info/" title=""><span>Transactions</span></a></li>
        <li class="errors"><a href="/report/" title=""><span>Issues</span></a></li>
        <li class="typo"><a href="/settings/" title=""><span>Settings</span></a></li>
</ul>