{% load static %}
<div class="titleArea">
        <div class="wrapper">
            <div class="pageTitle">
                <h5>Dashboard</h5>
                <span>Some Necessary Features for This Transaction Platform.</span>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="line"></div>

<!-- Page statistics and control buttons area -->
    <div class="statsRow">
        <div class="wrapper">
        	<div class="controlB">
            	<ul>
                	<li><a href="/addbook/" title=""><img src="{% static 'images/icons/control/32/plus.png' %}" alt="" /><span>Add new books</span></a></li>
                    <li><a href="/list_mysell/" title=""><img src="{% static 'images/icons/control/32/database.png' %}" alt="" /><span>Manage my books</span></a></li>
                    <li><a href="/signup/" title=""><img src="{% static 'images/icons/control/32/hire-me.png' %}" alt="" /><span>Add new user</span></a></li>
                    <li><a href="/report/" title=""><img src="{% static 'images/icons/control/32/comment.png' %}" alt="" /><span>Check feedback</span></a></li>
                    <li><a href="/info/" title=""><img src="{% static 'images/icons/control/32/order-149.png' %}" alt="" /><span>Check my orders</span></a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="line"></div>
